/* MAIN.CSS */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

/*
font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

/* GENERAL */
html { width: 100%;	margin: 0; padding: 0; }
body { background-image: url("images/wallpaper.jpg"); background-size: 100%; margin: 0;	padding: 0;	font-family: 'Raleway', sans-serif; }
#wrapper { width: 100%; margin-top: 180px; padding-bottom: 50px; }
#inner-wrapper { width: 80%; margin: auto; text-align: center; }
#header-img { width: 200px; height: 200px; margin: auto; margin-top: -100px; border: 3px solid white; border-radius: 50%; }
nav table {	width: 100%; border: 3px solid white; }
.td { width: 20%; text-align: center; font-family: 'Montserrat', sans-serif; letter-spacing: 3px; font-size: 20px; background-color: white; transition: ease-in-out .5s; }
.a a{ text-decoration: none; color: black; padding: 20%; }
.a:hover { background: transparent;	color: white; cursor: pointer; transition: ease-in-out .5s; }
#content-wrapper { width: 100%; background-color: rgba(255, 255, 255, 0.6);	text-align: center; }
p {	margin: 0; margin-top: 5px;	padding: 10px; }
.current { cursor: default; }
#content-wrapper h1 { padding-top: 20px; font-family: 'Montserrat', sans-serif; }
.main-content-img {	width: 300px; height: 300px; border-radius: 50%; border: 4px solid white; }
.left-aligned {	float: left; }
.right-aligned { float: right; }
#content-wrapper table { width: 50%; margin: auto; }
.separator { width: 80%; margin: auto; border: 2px solid white; margin-top: 40px; margin-bottom: 40px; }
h1 { font-family: 'Montserrat', sans-serif; }


/* FLIP BOX */
.flip-box { background-color: transparent; width: 305px; height: 305px; perspective: 1000px; }
.flip-box-inner { position: relative; width: 100%; height: 100%; text-align: center; transition: transform 0.8s; transform-style: preserve-3d; }
.flip-box:hover .flip-box-inner { transform: rotateY(180deg); }
.flip-box-front, .flip-box-back { position: absolute; width: 100%; height: 100%; backface-visibility: hidden; }
.flip-box-front { color: black; }
.flip-box-back { background-color: transparent; color: white; border-radius: 50%; border: 4px solid white; transform: rotateY(180deg); }
.flip-box-back p { width: 50%; text-align: center; padding: 20%; padding-top: 40%; margin: auto; color: white; text-decoration: none; line-height: 20px; transition: ease-in-out .5s; }
.flip-box-back a p:hover { color: black; text-decoration: none; transition: ease-in-out .5s; }


/* MAIN */
.game-img {	width: 200px; height: 200px; border: 3px solid white; transition: ease-in-out .5s;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; /* IE 6-9 */
}
.game-img:hover {
   -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none;
   transition: ease-in-out .5s;
}
#closing-tag { font-size: 18px;	font-weight: bold; }



/* ABOUT */
.q { font-size: 20px; font-weight: bold; font-style: italic; }
.speech-bubble-a { position: relative; background: #FFF; border-radius: .4em; float: right; text-align: right; width: 50%; color: #1B2A41; }
.speech-bubble-a:after { content: ''; position: absolute; left: 0; top: 50%; width: 0; height: 0; border: 20px solid transparent; border-right-color: #FFF; border-left: 0; border-top: 0; margin-top: -10px; margin-left: -20px; }
.speech-bubble-q { position: relative; background: #F2BAC9; border-radius: .4em; float: left; text-align: left; width: auto; font-weight: bold; }
.speech-bubble-q:after { content: ''; position: absolute; right: 0; top: 50%; width: 0; height: 0; border: 20px solid transparent; border-left-color: #F2BAC9; border-right: 0; border-top: 0; margin-top: -10px; margin-right: -20px; }
#q-a-wrapper { padding-bottom: 60px; }


/* CONTACT */
#contact-table tr td textarea, .contact-boxes {	width: 80%;	padding: 10px; resize: none; border: 3px solid white; }
#contact-table tr td label { text-align: right;	float: right; font-size: 20px; }
#submit-button { width: 40%; padding: 10px;	margin-bottom: 40px; font-size: 18px; font-family: 'Raleway', sans-serif; }
.contact-info {	font-weight: bold; color: black; text-decoration: none;	font-size: 18px; font-family: 'Montserrat', sans-serif; }
#content-wrapper #contact-wrapper #contact-icons { width: 10%; }
.contact-icon-img { width: 40px; height: 40px; border-radius: 50%; transition: .5s ease-in-out; }
.contact-icon-img:hover { filter: invert(100%);	transform: scale(1.1); transition: .5s ease-in-out; }


/*PORTFOLIO*/
.portfolio-img{
	width: 200px;
	height: 200px;
	border-top: 3px solid white;
}

.porfolio-piece {
	border: 3px solid white;
	margin: 20px;
	padding: 10px;
}

#content-wrapper #portfolio-wrapper #portfolio-table {
	width: 60%;
}

#content-wrapper #portfolio-wrapper #portfolio-table tr td {
	vertical-align: top;
	height: 350px;
}
.portfolio-text {
	display: block;
	padding-top: 5px;
}