@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
*/


body#home {
	margin: 0;
	padding: 0;
	background-image: url("https://image.ibb.co/mAOAYe/new_york_918682.jpg");
	background-attachment: fixed;
	background-size: 100%;
	font-family: 'Raleway', sans-serif;

}


body#services {
	margin: 0;
	padding: 0;
	background-image: url("https://image.ibb.co/nyF9de/desk_3139127.jpg");
	background-attachment: fixed;
	background-size: 100%;
	font-family: 'Raleway', sans-serif;

}

body#calendar {
	margin: 0;
	padding: 0;
	background-image: url("https://image.ibb.co/hdzXEK/apple_1867752.jpg");
	background-attachment: fixed;
	background-size: 100%;
	font-family: 'Raleway', sans-serif;

}
body#contact {
	margin: 0;
	padding: 0;
	background-image: url("https://image.ibb.co/njKA1z/computer_3368242.jpg");
	background-attachment: fixed;
	background-size: 100%;
	font-family: 'Raleway', sans-serif;

}






#table-wrapper {
	width: 100%;
	height: 100px;
	background-color: white;
}
#table-wrapper table {
	width: 100%;
	padding: 20px;
}
.nav {
	letter-spacing: 1.5px;
}
.tdnav {
	width: 10%;
}
.tdnav:hover {
	text-decoration: underline;
}

#tdhome {
	width: 7%;
}

/*
i'll come back to this once i've finished the proper spacing

.nav:before {
	content: "";
	width: 100%;
	height: 2px;
	background-color: #000;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.nav:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(0.7);
  transform: scaleX(0.7);
}
*/

#img-seperator {
	height: 500px;
	width: 100%;
}
#img-seperator span h1 {
	position: relative;
	width: 40%;
	top: 200px;
	margin: auto;
	text-align: center;
	font-weight: 300;
	font-size: 60px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	color: white;
	text-shadow: 2px 2px black;
}





#main-content {
	width: 100%;
	height: 100%;
	background-color: white;
	text-align: center;
	padding-top: 30px;
}

.lorem-text {
	width: 80%;
	margin: auto;
	text-align: justify;
	line-height: 25px;
}

#services-calendar {
	width: 20%;
	margin: auto;
	text-align: center;
	margin-bottom: 20px;
}

.link {
	color: black;
	text-decoration: none;
	letter-spacing: 2px;
}

.link:hover {
	color: grey;
	text-decoration: underline;
	text-decoration-color: grey;
}


#tri-img {
	margin-top: 40px;
	width: 100%;
}

.generic-images {
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#text-break {
	font-style: italic;
	width: 20%;
	margin: 20px auto;
}

#division {
	border-bottom: 1px solid black;
	width: 90%;
	margin: 20px auto;
}

#footer {
	width: 30%;
	margin: auto;
}

#footer tr td a{

}

#footer tr td a:hover {
	text-decoration: underline;
}

#footer-text {
	font-size: 12px;
	width: 60%;
	margin: auto;
	padding-bottom: 10px;
}

.current {
	text-decoration: underline;
	cursor: default;
	letter-spacing: 2px;
}


/* services.html specific css */

#two-img {
	margin-top: 40px;
	width: 80%;
	margin: auto;
}